[submodule "_plugins/jekyll-org"]
	path = _plugins/jekyll-org
	url = https://github.com/eggcaker/jekyll-org
[submodule "_vendor/re-org"]
	path = _vendor/re-org
	url = https://github.com/wallyqs/re-org
